@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-primaryDark: #000000;
    --color-light: #ffffff;

    --font-InriaFigma: "Inria Serif", serif;

    --breakpoint-xs: 480px;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply font-InriaFigma;
}

button:hover {
    cursor: pointer;
}

.portfolio-row img {
    @apply transition-all duration-300 ease-in-out;
}

.portfolio-row img:hover {
    @apply brightness-75;
}
